<% if @todo.errors.any? %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="card text-white bg-danger mb-3"">
        <h5 class="card-header">
          <% if @todo.new_record? %>
            Failed to Create 
          <% else %>
            Failed to Edit
          <% end %>
          <%= @todo.class %>, <%= pluralize(@todo.errors.count, "error") %> occured:
        </h5>
        <div class="card-body">
          <ul>
            <% @todo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @todo do |f| %>
  <p>
    <%= f.label :name %></br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %></br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-info' %>
  </p>
<% end %>
<%= link_to "Return to Listing", todos_path %>
