<div class="container left-align">
  <h4>Showing TODO!</h4>
  
  <p>
    Name: <%= @todo.name %>
  </p>
  <p>
    Description: <%= @todo.description %>
  </p>
  
  <%= link_to "Edit", edit_todo_path(@todo), class: "btn btn-info" %>
  </br></br>
  <%= link_to "Return to Listing", user_path(current_user), class: "text-info" %>
  <% if current_user && current_user.admin? %>
    <p><%= link_to "Return to ALL Listing", todos_path, class: "text-info" %></p>
  <% end %>
</div>