<header class="masthead">
  <div class="inner">
    <h3 class="masthead-brand font-weight-bold text-info">ToDo App</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= link_to "Home", root_path, :class => "nav-link" %>
      <!--
      <%= link_to "List ALL", todos_path, :class => "nav-link" %>
      -->
      <% if logged_in? %>
        <%= link_to "List", user_path(current_user), :class => "nav-link" %>
        <% if current_user.admin? %>
          <%= link_to "List ALL", todos_path, :class => "nav-link" %>
        <% end %>
        <%= link_to "Create", new_todo_path, :class => "nav-link" %>
        <%= link_to "Account", edit_user_path(current_user), :class => "nav-link" %>
      <% end %>
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, :class => "nav-link" %>
      <% else %>
        <%= link_to "Login", login_path, :class => "nav-link" %>
      <% end %>
    </nav>
  </div>
</header>